:root {
	/* CSS HEX */
	--light-blue: #b0dbe4;
	--blue: #3da4bf;
	--teal: #007f92;
	--orange: #f58220;
	--light-orange: #ffb270;
	--white: #fff;
	--light-grey: #e1e1e1;
	--dark-grey: #58595b;
	--black: #000;
	--transparent: transparent;

	/* CSS RGB */
	--light-blue: rgb(176, 219, 228);
	--blue: rgb(61, 164, 191);
	--teal: rgb(0, 127, 145);
	--orange: rgb(245, 130, 32);
	--light-orange: rgb(255, 178, 112);
	--white: rgb(255, 255, 255);
	--light-grey: rgb(225, 225, 225);
	--dark-grey: rgb(88, 89, 91);
	--black: rgb(0, 0, 0);
	--transparent: transparent;
}
